{
    "parser": "vue-eslint-parser",
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-recommended",
        "@vue/typescript/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ],
    "plugins": ["vue", "prettier", "@typescript-eslint"],
    "rules": {
        "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
        "prettier/prettier": "error"
    },
    "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "sourceType": "module",
        "ecmaVersion": 11
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jquery": true
    },
    "globals": {
        "moment": true,
        "swal": true,
        "bootstrap": true,
        "env": true,
        "_": true // Lodash
    }
}
