Django==4.2.5
djangorestframework==3.14.0
python-decouple==3.8
dj-database-url==2.1.0
psycopg2==2.9.7
gunicorn==21.2.0
whitenoise==6.5.0
git+https://github.com/dbca-wa/dbca-utils.git#egg=dbca-utils
git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
git+https://github.com/dbca-wa/wagov_utils.git#egg=wagov_utils
drf-spectacular==0.26.4
django-filter==23.3
python-dateutil==2.8.2
django-reversion==5.0.5
django-reversion-rest-framework==1.1.2
django-cron==0.6.0
py7zr==0.20.6
httpx==0.25.0
owslib==0.29.2
numpy==1.24.4