<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card-body">
        <div class="mb-3">
          <label for="assigned-to" class="form-label">Assigned To</label><select id="assigned-to" class="form-select">
            <option value="8">Staff User</option>
            <option value="1">Oak McIlwain</option>
          </select>
        </div>
        <div class="mb-3">
          <button type="button" class="btn btn-primary float-end" disabled="">Assigned to you <i class="bi bi-person-fill-check"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
