{% extends "govapp/base.html" %}

{% block content %}
    {% if request.user.is_authenticated is True %}
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center px-4">
                    <table class="table table-striped">
                        <thead class="rounded text-secondary">
                            <tr>
                                <th>Management Command</th>
                                <th>Action</th>
                                <th>Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Managment Command Name 1</td>
                                <td class="text-end"></td>
                                <td class="text-end"></td>
                            </tr>
                            <tr>
                                <td>Managment Command Name 2</td>
                                <td class="text-end"></td>
                                <td class="text-end"></td>
                            </tr>
                            <tr>
                                <td>Managment Command Name etc...</td>
                                <td class="text-end"></td>
                                <td class="text-end"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
            <div class="container" id="dashboard-table-container">
                  <h3>Permission Denied.  You are not authenticated.</h3>
            </div>
    {% endif %}
{% endblock %}
