/* For some reason inline admin fieldset sections are h2-headings, making them very hard to distinguish from other sections (all in h2) */
.less-dominant-style h2 {
    text-transform: unset;
    background-color: whitesmoke;
    color: darkgrey;
}

.less-dominant-style label {
    text-transform: unset;
    font-weight: normal;
}
