<ul class="nav navbar-expand-lg navbar-light align-items-center">
    <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
    {% if request.user.is_authenticated %}
    <li class="nav-item"><a class="nav-link active" href="">Risk Management</a></li>
    <li class="nav-item"><a class="nav-link active" href="burnplanning">Burn Planning</a></li>
    <li class="nav-item"><a class="nav-link active" href="">Operational Planning</a></li>
    <li class="nav-item"><a class="nav-link active" href="">Implementation</a></li>
    {% endif %}
</ul>
